{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      <link rel ="stylesheet" href="{% static 'css/Guide.css' %}">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <header>

  <div class=" navbar-fixed">
    <nav>
      <div class=" white nav-wrapper" id="alonavbar">
        <ul class="Navigation_bar">
          <li><a href="Introduction.html" id="intro">Introduction</a></li>
          <li><a href="Benefits.html" id="intro">Benefits</a></li>
          <li><a href="About Guide.html" id="intro">About Guide</a></li>
          <li><a href="Subscriptions.html"id="intro">Subscriptions</a></li>
          <li><a href="Testimonials.html" id="intro">Testimonials</a></li>
          <li><a href="About Author.html" id="intro">About Author</a></li>ython
        </ul>
      </div>
    </nav>
  </div>
</header>
    <body>
        <!--place the book and the tagline in here-->

<section class = "YURU" style="background-image:url('static/Alpha_Images/Hero_Back.png')">
  <div class="overlayys"></div>

    <div class="flex_message">   <!--the flex container that houses the buttons and the taglines-->
        <div class ="container_xx">
            <h2 class ="messageee">The Alphanumeric <br>Guide to Children</h2>
        </div>

      <div class ="container_yy">
          <h4 class ="vp_message" src="{% static './fonts/BRITANNIC.TTF' %}"> Uncover a Child's hidden talents<br>& beautiful
             attributes simply<br> by using their names.</h4>
      </div>


      <div class ="container_zz">
        <div class ="buttonss">
              <div class ="button1"><a class="waves-effect waves-light btn-large" id=testimonials_btn >See Testimonials</a></div>
              <div class ="button1"><a class="waves-effect waves-light btn-large" id=getbook_btn>Get Book </a></div>
        </div>
      </div>
      </div>


      <div class ="imagebookflex">
          <div class ="image_holder">
              <img src="{% static './Alpha_Images/Book Image.png' %}" alt="" class="book">
          </div>
      </div>
      </div>

    </section>

      <!--Create a flex box for easy containment and alignment of the buttons-->

    <!--The Introduction Section-->
    <section class ="introduction">
      <div class ="introduction_container"> <!--this is the parent container-->
          <div class = "main_text">
              <h3 class = "main" id ="combinations">A Child's Perception <br>
              is their Reality</h3>
          </div>
          <div class ="sub" >
            <h7 class = "sub_text")>When you are early aware about the good traits
              and natural tendencies <br> of your child, you will become better equipped to nurture, inspire and support her.<br>
              You may be wondering, “is it possible  to know about their positive attributes <br>
              even before these begin to manifest?"... Absolutely yes! <br><br>Everything you need to know in order to successfully raise your child is all in that name <br>you gave her at birth or is frequently called. The name is like the DNA!</h7>
          </div>
    </div> <!--this section closes the parental container-->
    </section>

    <!--Section where the 3 benefits are stipulated-->
    <section class = "containerall">

    <div class ="benefits_text">

      <div class = "container1">
          <img src="{% static './Alpha_Images/strong.png' %}">
          <h7 class="Benefitss">Good Character</h7>
      </div>
      <div class ="container2">
          <img src="{% static 'Alpha_Images/score.png' %}">
          <h7 class="Benefitss">Good Grades</h7>
      </div>
      <div class ="container3">
          <img src="{% static './Alpha_Images/mirror.png' %}">
          <h7 class ="Benefitss">Self Confidence</h7>
      </div>
    </div>
    </section>

  </div>
    </section><!--closing the parent container-->

    <div class ="Guide_section" id="G_sec" style="background-image:url('static/Alpha_Images/Guide_Section.png')">
      <div class="container">
        <h3 class = "section_text" id="combinations"> What Is The <br>Alphanumeric Guide?</h3>
      </div>
      <div class ="iframe_container">
      <!--insert youtube video content-->
      <iframe width="800" height="515" src="https://www.youtube.com/embed/-vngKNno2zc " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

      <!--JavaScript at end of body for optimized loading-->
  <section class = "report">
    <div class = "entireall">
    <div class = "entire"> <!--this div houses the entire write up in this section-->
        <div class ="wrapfirst">
          <div class ="analysis_report">
              <h3 class = "main_vp" id="combinations"> Get your <br> Name Analysis <br>Report</h3>
          </div>
          <div class = "offer_sec">
              <h7 class ="narrate" id = "narration">Within 10 minutes, you will receive a comprehensive<br>
                report written in clear language on your child <br>
                that will enable you to:</h7>
          </div>
        </div> <!--****WRAP FIRST -->
     <!--We create another flexbox container for the bullet point (parental container)-->
    <div class ="wrap_bulletin">
      <div class ="wrap1">
        <img src="{% static './Alpha_Images/Bulletin.png' %}" alt="" class="bullet">
        <h7 class ="subA" id ="narration">Understand why your child acts the way <br>
            (s)he does in a clear and lucid write up.</h7>
      </div>

    <div class="wrap1">
        <img src="{% static './Alpha_Images/Bulletin.png' %}" alt="" class="bullet">
        <h7 class ="subB" id = "narration">Obtain Practical recommendations for <br>
        parenting tailored specifically to your child.</h7>
    </div>

    <div class="wrap1">
          <img src="{% static './Alpha_Images/Bulletin.png' %}" alt="" class="bullet">
          <h7 class = "subC" id="narration" >Determine if your child's name will enable <br>
          them to reach their future goals.</h7>
    </div>
    </div> <!--(this is the closing div for the parental container)-->
  </div>



     <!--Create a login form-->
     <div class ="entire1">
     <div class = "sign">
    <div class ="sign_up_form">
      <h6 class ="Get_Report">Free Report

      </h6>
      <h6 id ="sub_sub">Provide your Child's name to get
         a free analysis (please ensure it is the first
         letter of the name (s)he is usually
         called. Example: Use letter T for
         Tasha as opposed to L for Latasha</h6>
      <!--put but fields in a div so that you can utilize the flex box properties to gap both-->
  <div class="formpack">
    <div class ="form1">
                            {% if messages %}
                            {% for mes in messages %}
                            <div class="alert alert-danger card-header">{{ mes }}</div>
                            {% endfor %}
                            {% endif %}
                            <form id="job-application-form" method="post" class="logins">
                                <div class="container">
                                    {% csrf_token %}
                                    {{ form }}
                                </div>
                                    <div class="container">
                                        <button type="submit" id="CTA_click"class="btn btn-primary">Get Report</button>
                                    </div>
                            </form>
        </div>
        </div>
      </div> <!--closing the form div pack -->

    </div>
  </div> <!--entire all div close-->
  </section>

    <section class ="testimonials"> <!--This is the overall parental div for this section-->
      <div class="testi_tex">
        <h3 class="test" id="narration">See what<br>Past Subscribers & Readers<br>have to say</h3>
      </div>
      <!--create cards for the testimonials-->

  <!--<div class ="outer_container">  This is the div that for the outer or parental container for the cards-->
    <div class ="container">
      <div class ="row">
        <div class="card" id="offering_card">
          <div class="card-content">
            <p>".Wow, Alfonso - I agree 100%... Never knew my name held so
            much meaningful detail. But the reading of my name is spot-on."<br><br><br><strong> - Donal G</strong></p>
          </div>
        </div>

      <div class="card" id ="offering_card">
        <div class="card-content">
          <p>"I will give the accuracy a 9.5"
            <br><br><br><strong> - Carolyn V</strong></p>
        </div>
      </div>

    <div class ="card" id ="offering_card">
      <div class ="card-content">
        <p>"Oh my God! this is so on point
        in many ways, especially about being stubborn!!Thx for this
        my dear friend. xoxo" <br><br><strong> - Maddie M</strong></p>
      </div>
      </div>

  <div class ="card" id ="offering_card">
    <div class ="card-content">
      <p>"Yes my vowels and consonants were a 10 regarding me....on point!
      <br><br><strong> - Belinda</strong></p>
    </div>
  </div>

</div><!--closing the row div-->
</div><!--close the container div-->
</section><!--close the main section-->

<section class = "About_Author">
  <div class = "Author"> <!--***PARENTAL DIV OPEN-->
      <div class ="AboutA">
          <h3 id="combinations">About the Author</h3><!-- this is the main section-->
      </div>
      <div class ="Synopsis"> <!--this div houses the brief bio of the Author-->
         <h7>Dr.Pugh has been a giving and sharing<br>
             person all his life as a father, friend and<br>
             mentor, which has motivated him to write his <br>
             book as his legacy to the world's young children<br>
             and grandchildren. He loves to mentor, coach<br>
             and lift up the spirit of others.</h7>
      </div>
  </div> <!--****PARENTAL DIV CLOSE-->

  <div class="pic_hold">
    <img src="{% static './Alpha_Images/Alfonso_Background.png' %}" alt="loading" class="authorpic">
    </div>
</section>

<section class = "closing_remark "style="background-image:url('static/Alpha_Images/Hero_Back.png')">
  <div class="overlayys2">
  <div class ="holder" >
      <h3 url="(static/Alpha_fonts/BRITANNIC.ttf' %" id ="Closing">Start purposeful<br> parenting and mentoring now!</h3>
  </div>
  </div>
</section>

<section class ="socials">
  <div class="social">  <!--PARENTAL CONTAINER -->
    <div class="social1">
      <img src="{% static './Alpha_Images/Icon awesome-linkedin.png' %}" alt="loading">
    </div>
    <div class="social2">
      <img src="{% static './Alpha_Images/Icon awesome-facebook-square.png' %}" alt="loading">
    </div>
    <div class="social3">
      <img src="{% static './Alpha_Images/Icon awesome-twitter-square.png' %}" alt="loading">
    </div>
    <div class="social4">
    <img src="{% static './Alpha_Images/Icon simple-tiktok.png' %}" alt="loading">
  </div>
</div>   <!--CLOSING PARENTAL CONTAINER-->
</section>


<!--this section is for the closing remarks-->
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>
<!--the end!-