
*{
    padding:0;
    margin:0;   
}
.YURU{
  margin-top:-27px; 
  background-image:url url("{% static '../Alpha_Images /.Hero_Back.png' %}");
  height:85vh;
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;  
}
/* this is to bring the text elements on the hero page to the front of the overlay */
.messageee, .vp_message{
    position:relative;
}
.messageee{
    font-size:60px;
    text-align:right;
    font-weight:800px;
    font-family: britannic;
    color:white;
    top:-15px;
}
.vp_message{
    font-family:Raleway;
    line-height:1.20;
    top:-25px;
    font-size:30.5px;
    width:481px;
    height:109.78px;
}
.super_message{
    display:flex;
    justify-content:space-around;
}

.flex_message{
    display:block;
    text-align:right;
    right:30rem;
    flex-direction: column;
    padding-right:40px;
    padding-top:100px;
}
.imageflexbook{
    top:40px;
}

.image_holder{
    display:flex;
    justify-content: center;
    align-items: center;
}

.offer_sec{
    padding-bottom:10px;
    position:relative;
    top:-4px;
}
.Benefits{
    background-color: #f8f8f8;
    height:228px;
}
/*Change the font and color of the benefits section*/
.Benefitss{
    font-family:Titilliumweb;
    color:#36454f;
}
.main_text{
    width:200rem;
}
.overlayys{
    margin:0;
    padding:0;
    position:absolute;
    width:100%;
    height:85vh;
    background-color:#82ceeb;
    opacity:0.87;
}
.overlay3{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    position:absolute;
    width:100%;
    height:40vh;
    background-color:#82ceeb;
    opacity:0.87;
    text-align:center;
}

.closing_remark{
    background-image: url('./Alpha_Images/Hero_Background.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:40vh; 
}
/*.vp_message{
    text-align:right;
    margin-right:40px;
    padding-top:15%;
    position:relative;
    top:-50px;  
}
*/
#G_sec{
    margin-top:-27px;
    background-image: url("{% static '../Alpha_Images /.Guide_Section.png' %}");
    height:800px;
    background-repeat: no-repeat;
    background-size: cover;
    /*Insert youtube video */
}
/*change the characteristics of the buttons*/
#testimonials_btn{
    background-color: white;
    border-radius:5px;
    color:#36454f;
    font-weight: 650;
}
#getbook_btn{
    border-radius:5px;
    font-weight: 650;
    background-color:#ac3737;
}
/*this section is to introduce flex to the introduction section*/
.introduction_container{
    display:flex;
    margin-left:150px;
    padding-top:50px;
}
.sub{
    padding-left:50px;
    padding-bottom:60px;
    padding-right:150px;
}
.sub_text{
    font-size: larger;
}
.section_text{
    display:flex;
    justify-content:center;
    justify-items: center;
    padding-top:30px;
    align-items: center;
    color:#36454f   
}
.Guide_section{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.main_vp{
    margin-left:94px;
    margin-top:94px;
    font-size:2.92rem; 
    margin-left:1.168rem;
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    color:#36454f;
    }
    .report{
        display:flex;
        flex-direction:column;
        margin-left:150px;
        height:600px;
    }
    .subA, .subB, .subC,.narrate, .informa{
        font-size:20px;
        font-family: tahoma normal;
    } 
    .sub_highlight{
        margin-left: 40px;
        border:none;
        margin-bottom: 10px;
    }
    .subA_container, .subB_container, .subC_container{
        padding-bottom:8px;
    }

    .main, .main_vp, .section_text,.test ,.AboutA{
        font-family:'Raleway', sans-serif;
        color:#36454f;
    }
    @font-face{
        src:url('../fonts/Tahoma Regular font.ttf');
        font-family: "Tahoma normal lighter" ;
    }
    @font-face{
        src:url('../fonts/BRITANIC.TTF');
        font-family: "BRITANIC";
    
    }
    @font-face{
        src:url('../fonts/TitilliumWeb-Regular.ttf');
        font-family:"Titilliumweb";
    }
    .sub_text, #narration, .Synopsis{
        font-family:"Tahoma normal lighter" ;
        color:#36454f;
        font-size:23pts;
    }
    
    ::after .test{
        color:#36454f;
        opacity:100%;
    }
    #intro{
        color:#36454f;
        font-weight:200;
        display:flex;
    }
    .card-title{
        font-family:Tahoma;
        font-size:14pts;
    }
    .testimonials{
        display:flex;
        flex-direction:row;
    }
    .row{
        width:100%;
        display:flex;
        justify-content:center;
        text-align:left;
    }
    .card{
        border-radius:15px;
        margin:10px;
        max-width:250px;
        min-width:300px;
        height:320px;
    }
    .About_Author{
        background-color:white; 
        height:420px;
    } 

    .Author_intro{
        text-align:right;
        margin-right:150px;
        float:right;
    }   
    .closing{
        background-size:cover;
        background-repeat:no-repeat;
        background-image:url('./Alpha_Images/subtle-prism.png');
        height:500px;  
    }
    .social{
        display:flex;
        flex-direction:row;
        justify-content:end;
        justify-items: right;
        padding-top:20px;
        gap:20px;
    }
/*get the image to be positioned at the bottom of the div*/
    #imagea{
        bottom:0;
        position:relative;
        border:inline-block;
        float:left;
    }
    /*.informa{
        float:right;
        display:flex;
        font-size:small;
    } */
    .closeit , .holder{
        font-family:sans-serif;
        font-weight: 650;
        line-height: 1.17;
    }    
    .hero_background{
        height:80vh;
    }
    .buttonss{
        display:flex;
        justify-content: right;
        position:relative;
        /*top:-45px;*/
        /*left:-30px;*/
    } 
    .button1{
        padding-right:8px;
    }
    /* bring the closing statement to the center using the flex box*/
    .closemessage{
        display:flex;
        justify-content:center;
        align-items: center;
    }
    .wrap1{
        display:flex;
        flex-direction: row;
        padding-bottom:10px;
    }
    .bullet{
        max-width: 30px;
        max-height:30px;
    }
    .subA, .subB, .suBC{
        position:relative;
        top:-10px;
        right:-8px;
    }
    /*.containerA, .containerB, .containerC{
        display:flex;
        align-items:center;
        flex-direction:row;
    }*/
    .Benefitss{
        font-family:'Titilliumweb';
        font-weight:400;
        font-size:24px;
    }

    .socials{
        background-color:#f0f0f0;
        height:90px;
    }
    .alonavbar{
        color:white;
    }
    .Author{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        text-align:right;
        margin-right:150px;
    }
    .About_Author{
        position:relative; 
    }
    .pic_hold{
        position:absolute;
        bottom:0;
    }
    .Synopsis{
        font-size:larger;
    }
    .holder{
        height:180px;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .sign_up_form{
        height:470px;
        width:450px;
        background-color: #0c9DAE;
        /*float:right;*/    
        padding:20px;
    }
    .input-box{
        border-radius:10px;
        outline: #36454f;
    }
    label{
        font-weight: bold;
        color:black;
    }
    .Get_Report{
        text-align:center;
        justify-content:center;
        justify-content: right;
        font-size:40px;
        font-family:'Times New Roman';
        color:white;
        font-weight: 800;
    }
    @font-face {
        font-family: "Goudy-old";
        src: url('../fonts/Goudy.ttf');
    }
    @font-face {
        font-family:"BRITANNIC";
        src:url('../fonts/BRITANIC.TTF');
    }
    #sub_sub {
        font-family:Gould-old;
        font-size:21px;
        color:white;
        line-height: 23px;
        text-align:center;
        padding-bottom:5px;
    }
/* use this css property for the new submit button from django*/
    #get_report{
        background-color: #ffa200;
        color:white;
        border-radius:5px;
        position:relative;                 
        top:-10px;
    }
    .button_report{
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
        bottom:-100px;
    }
    #fullname ,#emailaddy{
        background-color: white;
        padding-bottom:5px;
        height:35px;
    }
/*now utlilize the flex properties to gap the text fields*/
   .formpack{
    display:flex;
    flex-direction:column;
    }
    .form1{
    padding-bottom:0.5em;
    }
/*move both text fields down the subscription form */
.form1 , .form2{
    position:relative;
    bottom:-50px
}
.card-content{
    font-family:sans-serif light;
    font-style:italic;
    font-size:large;
}
/*reposition the subscription form in its entirety*/

.wrap_bulletin{
    position:relative;
    bottom:-25px;   
}
.wrapfirst{
    position:relative;
    bottom:-20px;
}
*.image_holder img {
    position:relative;
    margin-left:-100px;
    /*top:-500px;*/
    /*height:90vh; /*resize the image which is too large*/
    width:auto;
    top:-30px;
}
/******************************************EMBED YOUTUBE RESPONSIVELY *****************************************************************/
.video{
    aspect-ratio:18/9;
    width: 70%;
}
/* this here is to style the input field to white*/ 

#job-application-form{
    border-radius: 4px;
    background-color: white;
    padding-bottom: 15px;
}
#CTA_click{
    padding-right:25px;
    padding-left:25px;
    background-color: #ffa200;
    border-right:25px;
}
.entireall{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sign{
    margin-right: 94px;
    margin-top:48px;
}
.containerall {
    height:280px;
    background-color:#f8f8f8;
    bottom:20px;
}
.benefits-list, .benefits-wrap{
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
}
.benefits-list{
    padding-bottom:30px;
    padding-top:30px;
}
#Closing{
    font-family: britannic;
    color:white;
    font-size:60px;
}

/********************** this section is the styling for the testimonials slider*************************/

     .testimonialz {
        background-color: #99C4C8;
        opacity:100%;
        height:600px;
        position:relative;
    }

.testimonial-wrap{
    width:84%;
    height:350px;
    margin:0 auto;
    overflow:hidden;
}
.testimonialz .testimonial-wrap .post{
    display:inline-block;
    background:#ffa200;
    height:350px;
    width:300px;
    margin: 0px 10px;
}

.testimonialz .next{
    position:absolute;
    top:50%;
    right:30px;
    cursor:pointer;
    font-size:5em;
    color:white;
}

.testimonialz .prev{
    position:absolute;
    top:50%;
    left:30px;
    cursor:pointer;
    font-size:5em;
    color:white;
}

.testimonialz .testimon .mecca{
    text-align:center;
    padding-top:25px;
}
/*.containerall {
  background-color: #f8f8f8;
  height: 250px;
  justify-content: center;
  justify-items:normal;
  bottom: 20px;
  display: flex;
  justify-content: space-around;

}


/* IN THIS SECTION WE SHALL CREATE MEDIA QUERIES FOR MOBILE RESPONSIVENESS */
/* create a media query for all the main headers that have been emboldened */
/***************************************************************************/
/***************************************************************************/


@media (min-width:1137px) and (max-width:1200px) {
    #combinations, .test{
        font-size: 2.70rem;
    }
    .sign{
        margin-right:75px;
    }
    /* reduce the dimension of the login form for smaller devices */
    .sign_up_form{
        height:450px;
        width:430px;
        padding:30px;
    }
    .form1, .form2{
        top:15px;
    }
}
@media (max-width:1136px) and (min-width:1110px){
    /* reduce the font size from henceforth */
    .subA, .subB, .subC, .narrate{
        font-size: 18.5px;
    }
    /* reduce the login resolution of the login form to make for more space*/
    .sign_up_form{
        height:450px;
        width:420px;
        padding:30px
    }
    .form1, .form2{
        top:5px;
    }
}
@media (max-width:1109px) and (min-width:1100px){
    .sign_up_form{
        width:410px;
    }

    .subA, .subB, .subC, .narrate   {
        font-size:18.5px;
    }
    .form1, .form2{
        top:25px;
    }
}
@media (max-width:1108px) and (min-width: 1059px){
    .subA, .subB, .subC, .narrate{
        font-size: 18px;
    }
    .sign_up_form{
        width:406px;
    }
    .form1, .form2{
        top:25px;
    }
    .entire, .main{
        margin-left:-35px;
    }
}
@media (max-width:1058px) and (min-width:1037px){
    .entire, .main{
        margin-left:-50px;
    }
    .sign_up_form{
        width:406px;
    }
    .subA, .subB, .subC, .narrate{
        font-size:18px;
    }
    .form1, .form2{
        top:25px;
    }
    .sign{
        padding-left:20px;
    }
}
@media (max-width:1036px) and (min-width:989px){
    .subA, .subB, .subC, .narrate{
        font-size:17.7px;
    }
    .sign_up_form{
        width:370px; 
    }
    .entire, .main{
        margin-left:-50px;
    }
    .form1, .form2{
        top:25px;
    }
    .sign{
        padding-left:15px;
    }
}


@media only screen and (max-width:1024px) /*and (min-width:988px)*/{

    .flex_message{
        flex-direction:column;
        justify-content: center;
        justify-items: center;
        flex-wrap:wrap;
    } 

    .subA, .subB, .subC, .narrate{
        font-size:17.5px;
    }
    .report{
        height:1700px;
    }
    .sign_up_form{
        width:420px;
    }
    .report{
        height:1000px;
        margin-left:106px;
    }
    .entire{
        margin-left:-60px;
    } 
    .main{
        margin-left:-100px;
    }
    .sign{
        align-self:flex-end;
       /* margin-left:58%; */
        margin-top:-20em;
        padding-left:20px;
    }
    #combinations{
        font-size:2.60em;
    }
    .introduction_container{
        margin-left: 100px;
    }
    .entireall{
        display:flex;
        flex-direction: column;
        /*justify-content:center; */
        justify-items:center;
        text-align:justify;
        height:1000px;
        align-items:center;
        flex-wrap:nowrap;
        right: -30%; 

    }
    #narration{
        font-size:20px;
    }

    /*.hero_page_holder{
        top:-50em;
    }
}
/* media queries for the hero page */
/*****************************************************************************************************/
/***************************************for keeping the "The Alphanumeric Guide to Children constant******************************************/
/*@media(max-width:1035px) and (min-width:994px){
    .messageee{
        height:132px;
        width:478.92px;
    }
}

*/
@media only screen and (min-width:1001px){
    .messageee{
        height:132px;
        width:478.92px;
    }
}

@media (max-width:1142px) and (min-width:1099px){
    .image_holder img{
      /*  height:85vh;*/
       /* top:-20em;*/
        left:-3.8em;
    }
}

@media (max-width:1019px) and (min-width:1000px){
    .image_holder img{
        /*height:86vh;*/
        z-index: 3;
    }
}
/* the book is shifting towards the edge. needs some space*/
@media (min-width:894px) and (max-width:1017px){
    .image_holder img{
        margin-left:10%;
        height:90vh;
    }
    .flex_message{
        padding-right:15%;
    }
}
@media (min-width:865px) and (max-width:895px){
    .vp_message{
        font-size:28px;
    }
    .image_holder img{
        margin-left:23%;
        height:90vh;
    }
    .flex_message{
        padding-right:20%;
    }
    .messageee{
        font-size:57px;
    }
}
/****************************create responsive layout for the benefits section*******************************************************/
@media only screen and (max-width:769px){
}
/************************************************************************************************************************************/
@media only screen and (max-width:865px){
    .super_message{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        justify-items:center;
    }
    .YURU, .overlayys{
        height: 1100px;
    }
    /* make text bigger for small devices*/
    .messageee {
        font-size:70px;
        right:-4%;
    }
    .vp_message{
        right:-12.4%;
        text-align: center;
    }
    /* reorder the flex items for smaller devices*/
    .container_xx{
        order:1;
    }
    .container_yy{
        order:2;
    }
    .super_message .image_holder{
        order:3;
    }
    .container_zz{
        order:4;
    }
    /* move the div that houses the messages and button a bit to the top*/
    .flex_message{
        top:-30px;
    }
    .buttonss{
        left:-10%;
    }
    }
    /*.overallauthor{
        display:flex;
        flex-direction:column;
        justify-items:center;
        align-items:center;
        justify-content: center;
    
    } */
    .About_Author{
        height:720px;
    }

    .main_text{
        width:25rem;
        text-align:center;
    }
    .introduction_container{
        flex-direction:column;
        justify-content:space-evenly;
        justify-items:center;
        align-items:center;
    }
    .sub_text{
        font-size: 20px;
    }
    #combinations{
        font-size:2.90rem;
    }
    .Synopsis{
        
    }
    .pic_hold{
        order:0;
    }
    .image_holder img{
        right:-5%;
    }
}

@media only screen and (max-width:964px){
    .introduction_container{
        flex-direction: column;
        justify-content: center;
        justify-items:center;
        
    }
}

@media only screen and (max-width:598px){
    .messageee{
        font-size: 56px;
        right:-4%; 
        text-align: center;
    }
    .vp_message{
        right:-3.4%; 
        text-align: center;
        font-size:26.5px; 
    }
    .image_holder img{
        height:90vh;
    }
    .YURU, .overlayys{
        height: 995px; 
    }
    #Closing{
        font-size: 56px;
    }
}

/***************************************PADDING OF THE MESSAGES AFTER THE BENEFIT SECTION**********************************/
@Media only screen and (max-width:793px){
   .sub{
    padding-left:0;
    padding-right:100px;
    left:40px;
    width:520px; 
   }
}
/**************************************************************** BENEFITS SECTION*********************************************************************/
@media only screen and (max-width: 720px){
    .containerall{
        height:670px;
        flex-direction:column;
    }
    .benefits-wrap{
        flex-direction:column;
        justify-content:center;
        text-align: center;
        row-gap: 45px; /* increase the gap between the flex items (Icons and the benefits*/
    }
    .Benefitss{
        font-size: 27px;
    }
}

/* keep the navigation scroll bar on the testimonial section tidy */
@media only screen and (max-width:970px){
    #left-navi{
      left: 0px;
    }
    #right-navi{
        right:0px;
    }
}
@media only screen and (max-width:599px){
    .Synopsis{
        padding-left: 5px;
    }
}
@media only screen and (max-width:579px){
    .sub_text, #narration{
        font-size:18px;
    }
}
   
@media (min-with:503px)and (max-width:508px){
    .Benefitss{
        text-align:center; 
    }
}
@media only screen and (max-width:598px){  /* pad the "immediate benefits section at the top*/
    .benefits-list{
        padding-top:43px;
        padding
    }
}
@media only screen and (max-width:500px){
    .benefits-list{
        text-align:center; 
    }
}

/*At 537 downwards the width of the text for the author’s biography should be kept constant at 381.29px also align to the center */
@media only screen and (max-width:537px){
    .sub_text{
        width:381.29px;
    }
}
@media only screen and (max-width:579px){
    .Author{
        text-align:center;
        margin-right: 10px;
    }
    .social{
        justify-content:center;
    }
    .pic_hold{
        right:-5%;
    }
}
@media only screen and (max-width:552px){
    .messageee, #Closing{
        font-size: 52px;
    }
}
/*@media (max-width:999px) {
    /*.vp_flex{
        display:flex;
        flex-direction:column;
        height:850px;
        align-content:flex-start;
        align-items: center;
    } */
    /*.YURU{
        height:900px;
    }
   /* .vp_message{
        text-align: center;
        font-size:2.5em;
    }*/
  /*  .buttonss{
        margin-bottom:19em;
    }
} 



















